<%- include('partials/header') %>

<div class="jumbotron-container centered">
    <div class="container">
        <i class="fa fa-key custom-icon"></i>
        <h1 class="display-3">You've Discovered My Secrets</h1>
        <p class="lead">Jack Bauer is my hero!</p>
        <hr>
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log out</a>
        <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
</div>

<%- include('partials/footer') %>
